@model VehicleInfo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleting Vehicle</h2>

<h3>Would you like to continue?</h3>
<div class="container p-3 my-3 border">
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ChassisNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ChassisNo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VehicleId" />
        <input class="btn btn-primary" type="submit" value="Yes" />
        <a class="btn btn-danger" asp-action="Index">No</a>
    </form>

</div>